<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="router.url != '/'">
    <div class="container-fluid">
        <img class="mx-3" height="30" src="/assets/Logo_Smurfit_Kappa.jpg" alt="smurfitKappa">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Salvar Datos y Valores</a></li>
                        <li><a class="dropdown-item" href="#">Abrir Datos y Valores</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Configurar Factores</a></li>
                        <li><a class="dropdown-item" href="#">Salvar Valores por Defecto</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Trabajar con Manipulación-Transporte-Desalineado</a></li>
                        <li><a class="dropdown-item" href="#">Cambiar Factor de frabicación = .93</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Altura mínima para aplicar fórmula</a></li>
                        <li><a class="dropdown-item" href="#">Aplicar Corrección por Rectangularidad</a></li>
                        <li><a class="dropdown-item" href="#">Fórmula de Mckee - Colombia</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Modificar Arrume
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Salvar Datos y Valores</a></li>
                        <li><a class="dropdown-item" href="#">Abrir Datos y Valores</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Configurar Factores</a></li>
                        <li><a class="dropdown-item" href="#">Salvar Valores por Defecto</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Trabajar con Manipulación-Transporte-Desalineado</a></li>
                        <li><a class="dropdown-item" href="#">Cambiar Factor de frabicación = .93</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Altura mínima para aplicar fórmula</a></li>
                        <li><a class="dropdown-item" href="#">Aplicar Corrección por Rectangularidad</a></li>
                        <li><a class="dropdown-item" href="#">Fórmula de Mckee - Colombia</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Variables de Paletizado
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayudas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PackExpert Options</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>