<div class="vw-100 vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="card shadow p-3" style="max-width: 40rem">
        <div class="row">
            <div class="col-5">
                <img class="card-img-top" src="/assets/Logo_Smurfit_Kappa.jpg" alt="Card image cap" />
            </div>
            <div class="col-5 offset-2">
                <h3 class="card-title">NEWCALC2021</h3>
                <span class="text-muted">Packaging engineering tool</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 p-0">
                    <img src="/assets/toro_carton.jpg" alt="" width="280" />
                </div>
                <div class="col-6">

                    <p class="card-text">
                        Aplicativo web version demo v.0.01
                    </p>
                    <a routerLink="/pageOne" class="btn btn-primary">Iniciar</a>
                </div>
            </div>
        </div>
    </div>
</div>