<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card shadow p-3 m-3">
            <app-form-figure (submit)="changeForm($event)" (onType)="typeBox = $event"></app-form-figure>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12" [ngSwitch]="typeBox">
        <div class="card shadow m-3">
            <app-cube2d [x]="x" [y]="y" [z]="z" [foldHeight]="foldHeight" [shapeFold]="shapeFold"
                *ngSwitchCase="BoxTypeEnum.BOX_ONE">
            </app-cube2d>
            <app-box1 [x]="x" [y]="y" [z]="z" [foldHeight]="foldHeight" [shapeFold]="shapeFold"
                *ngSwitchCase="BoxTypeEnum.BOX_TWO">
            </app-box1>
        </div>
    </div>
</div>